@font-face {
  font-family: "MyFont";
  src: url("./barriecito.ttf") format("woff2");
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  background: url("./wp.png");
  font-family: "MyFont";
}
